html,body{
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  /* background-color: #000; */
}
#header h1{
  font-size: 40px;
  color: #ff004f;
  text-align: center;
  margin-bottom: 20px;
}
.home-a{
  margin-bottom: 20px;
}

.home-a a{
  text-decoration: none;
  color: #ff004f;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  text-align: start;
}

.home-a a::after{
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: -6px;
  background-color: #ff004f;
  transition: .5s;
}

.home-a a:hover::after{
  width: 100%;
}

label{
  color: #2b1119;
  font-size: 18px;
  font-weight: 400;
  padding: 0px 10px;
}


.input-field{
  height: 35px;
  width: 80%;
  border: none;
  outline: none;
  border-bottom: 4px solid #410316;
  padding: 0px 10px;
}

#desc{
  border: 2px solid #410316;
  width: 80%;
  padding: 0px 10px;
  border-radius: 5px;
}

.table-text{
  color: #410316;
}